<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.bakata.plugins.HLSPlugin"
    version="1.1.0">
    <name>HLSPlugin</name>
    <description>HLS Player Plugin for RTVC</description>
    <license>Apache 2.0</license>
    <keywords>HLS</keywords>

     <js-module src="www/HLSPlugin.js" name="HLSPlugin">
        <clobbers target="window.HLSPlugin" />
    </js-module>

	<!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="HLSPlugin" >
                <param name="android-package" value="com.bakata.plugins.HLSPlugin"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-permission android:name="android.permission.INTERNET" />
    		<uses-permission android:name="android.permission.BROADCAST_STICKY" />
    		<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    		<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />    		
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">    		
    		<service android:name="com.bakata.plugins.HLSPlayerService" android:enabled="true" android:exported="false" />
        </config-file>
        
        <config-file target="res/values/strings.xml" parent="/*">
        	
        </config-file>
        
        <source-file src="src/android/HLSPlugin.java" target-dir="src/com/bakata/plugins" />
        <source-file src="src/android/HLSPlayerService.java" target-dir="src/com/bakata/plugins" />

     </platform>


    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="HLSPlugin" >
                <param name="ios-package" value="HLSPlugin"/>
            </feature>
        </config-file>

        <header-file src="src/ios/HLSPlugin.h"/>
        <source-file src="src/ios/HLSPlugin.m"/>
        
        <!-- 
        <header-file src="src/ios/NSMutableArray+STKAudioPlayer.h"/>
        <source-file src="src/ios/NSMutableArray+STKAudioPlayer.m"/>
        <header-file src="src/ios/STKAudioPlayer.h"/>
        <source-file src="src/ios/STKAudioPlayer.m"/>
        <header-file src="src/ios/STKAutoRecoveringHttpDataSource.h"/>
        <source-file src="src/ios/STKAutoRecoveringHttpDataSource.m"/>
        <header-file src="src/ios/STKCoreFoundationDataSource.h"/>
        <source-file src="src/ios/STKCoreFoundationDataSource.m"/>
        <header-file src="src/ios/STKDataSource.h"/>
        <source-file src="src/ios/STKDataSource.m"/>
        <header-file src="src/ios/STKDataSourceWrapper.h"/>
        <source-file src="src/ios/STKDataSourceWrapper.m"/>
        <header-file src="src/ios/STKHttpDataSource.h"/>
        <source-file src="src/ios/STKHttpDataSource.m"/>
        <header-file src="src/ios/STKLocalFileDataSource.h"/>
        <source-file src="src/ios/STKLocalFileDataSource.m"/>
        <header-file src="src/ios/STKQueueEntry.h"/>
        <source-file src="src/ios/STKQueueEntry.m"/>
        <header-file src="src/ios/SampleQueueId.h"/>
        <source-file src="src/ios/SampleQueueId.m"/>
        -->
        
        <framework src="MediaPlayer.framework"/>
        <framework src="AudioToolbox.framework"/>
        <framework src="CFNetwork.framework"/>
        <framework src="UIKit.framework"/>
    </platform>
    

</plugin>